# Database connection details
DB_HOST=localhost
DB_USER=bitjourney
DB_PASSWORD=password
DB_NAME=bitjourney

# This should point to the `/sdapi/v1` URL that Forge is accessible at
# Ensure that you've started Forge with the `--api` flag
SD_API_HOST=http://localhost:7860/sdapi/v1

# Uses https://github.com/vercel/ms - ('72h', '14d', etc) set to -1 for no expiration (default 14d if not defined)
# Note: Upon changing, any existing tokens will keep their current expiration - changes require a new token to take effect
#   To force invalidate tokens, change the SECRET_KEY below. To invalidate tokens with -1 expiration, this is required.
TOKEN_EXPIRATION_TIME=14d

# Secret key used to sign JWT tokens
SECRET_KEY=

# Insert a randomized sequence of characters here, it will act as a static-never-expiring API key that has the highest
#   application privileges. Can be used to grant your own account permissions.
SUPERUSER_ADMIN_TOKEN=

# This is used by Navigator when authorizing new users to verify that the provided Discord ID actually exists.
# You can leave this blank if you do not want Navigator to validate the existence of Discord IDs.
BOT_TOKEN=

# Set to true if the backend supports Flux-based models
SUPPORTS_FLUX=false

# API key for CivitAI
CIVITAI_API_KEY=

# Directory to store model checkpoints
MODEL_CKPT_DIR=/path/to/save/checkpoints

# Get these details from https://discord.com/developers
# Downstream clients will need to use the same Client ID and Redirect URI
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost/

# This controls how often (in milliseconds) will Navigator check the Forge backend for Job progress updates
# Be careful with this value, as things like saving preview images to the database will occur within this interval.
# Also, downstream clients will receive updates at this rate as well, so take caution when using third party clients
#   such as Discord (ie BitJourney Discord Plugin), as you may run into rate-limits from their service.
# Additionally, if Navigator and Forge OR MySQL are not on the same server, you need to take caution that you do not
#   make this value lower than the latency between these services or else strange things may happen.
# In general, you probably do not want this lower than 500 miliseconds.
JOB_PROGRESS_CHECK_INTERVAL=2500

# Allows downstream clients to request available Loras from Forge (with metadata pulled from CivitAI)
#   defaults to disabled, which just returns an empty array when the endpoint is hit.
ENABLE_LORA_SUPPORT=false